#bodyPageParticipating{
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/color-morph2.png");
  background-position: 50% 60%;
  background-size: cover;
  min-height: 100vh;
}
#category h1,#participating h1 {
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#participating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  flex-direction: column;
}
#participating h1{
  margin-top: 0;
  font-size: 2em;
  font-family: "IBM Plex Mono", monospace;
}
#eventParticipating {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#eventParticipating h2{
  color: #fff;
  font-family: Inter;
  font-weight: 400;
}
#loadingPageParticipating{
  display: block;
  border: 7px solid #FFF;
  border-right: 7px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loading 0.7s ease-out infinite;
}
@keyframes loading {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 2px 20px #b6b6b6;
  }
  100%{
    transform: rotate(360deg);
  }
}