#bodyPageDetailEvent{
  background-image: url("../../assets/img/color-morph3.png");
  background-position: 10% 30%;
  background-size: cover;
}
h1 {
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#details {
  width: 80%;
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#details img:nth-child(1) {
  width: 580px;
  height: 230px;
}
#info div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#info div:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
#info div:nth-child(1) p,#info div:nth-child(2) p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
#info div:nth-child(1) img {
  width: 40px;
  height: 40px;
  margin-right: 22px;
}
#info div:nth-child(2) img {
  width: 40px;
  height: 40px;
  margin-right: 22px;
}
#description {
  width: 55%;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.25);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#description div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 26px;
  padding-left: 26px;
  padding-right: 26px;
}
#description div h2 {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 2.5%;
}
#description div p {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  font-weight: 200;
}
