body {
  background-image: url("../../assets/img/color-morph2.png");
  background-position: 50% 60%;
  background-size: cover;
}
#category h1,#event h1 {
  color: #fff;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  flex-direction: column;
}
#events {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
