@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.bodyProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
#bodyPageProfile{
  background-color: #FFF;
  background-size: cover;
}
.boxProfile {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 70px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.boxProfile:nth-child(1) {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.boxProfile button{
  cursor: pointer;
}
.picture {
  margin-top: 5%;
  width: 171px;
  height: 171px;
}
.name {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.edit {
  width: 44px;
  height: 42px;
  margin-left: 92%;
  margin-top: -2%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit img {
  width: 32px;
  height: 32px;
}
#informations {
  margin-top: 60px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxContact {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  margin-left: 0%;
}
.boxContact p:nth-child(1) {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.boxContact p:nth-child(n + 2) {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.boxIcons {
  display: flex;
  gap: 20px;
  margin-left: 0%;
  margin-top: 0%;
}
.boxIcons button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.icons {
  width: 40px;
  height: 40px;
}
.boxButtons {
  margin-top: 3%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}
.boxButtons button:nth-child(1) {
  color: #003465;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
  border-radius: 20px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.2);
  width: max-content;
  cursor: pointer;
}
.boxButtons button:nth-child(2) {
  color: #003465;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
  border-radius: 20px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.2);
  width: max-content;
  cursor: pointer;
}
