#header{
    background-position: 60%;
    width: 100%;
    display: flex;
    justify-content: right;
    background-image: url("../../assets/img/color-morph.png");
    background-size: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
#header a{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left: 90%;
}
#header a img{
    object-fit: scale-down;
    width: 97px;
    height: 33px;
}
#menuLateral{
    position: absolute;
    z-index: 5;
    padding: 15px 15px 10px 15px;
    background-color: #D9D9D9;
}
#menuLateral li{
    list-style: none;
    padding: 10px;
}
#toogle{
    display: none;
}
#toogle + #buttons nav ul{
    display: none;
}
#toogle:checked + #buttons nav ul{
    display: contents;
}
#buttons nav ul li button{
    border: 0;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}
#buttons nav ul li button img{
    margin-right: 16px;
    margin-left: 16px;
}
#menuLateral label img{
    cursor: pointer;
    width: 35px;
    height: 35px;
}
#menuLateral nav ul li:nth-child(1){
    margin-top: 60%;
}
#menuLateral nav ul li:nth-child(5){
    margin-top: 50%;
}
#menuLateral nav ul li:nth-child(1) button img{
    width: 33px;
    height: 33px;
}
#menuLateral nav ul li:nth-child(2) button img, #menuLateral nav ul li:nth-child(3) button img{
    width: 30px;
    height: 30px;
}
#menuLateral nav ul li:nth-child(4) button img, #menuLateral nav ul li:nth-child(5) button img{
    width: 31px;
    height: 31px;
}