@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-image: url("../../assets/img/color-morph.png");
    background-position: 5% 30%;
    background-size: cover;
}
#header{
    background-position: 60%;
    width: 100%;
    display: flex;
    justify-content: right;
    background-image: url("../../assets/img/color-morph.png");
    background-size: 100%;
    border-bottom: 1px solid #000;
}
#header a{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
}
#header a img{
    object-fit: scale-down;
    width: 97px;
    height: 33px;
}