.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
:root{
  background-color: #FFF;
  background-size: cover;
}
.boxCriarEvents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: center;
  width: 60%;
  border-radius: 20px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.boxUpload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  border-radius: 10px;
  background-color: #f5f5f5;
  text-align: center;
  width: 200px;
  height: 200px;
}
input[id="file-img"]{
    display: none;
}
.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
. {
  border-radius: 10px;
  border: 2px solid #000;
  background: #c4c4c4;
  padding: 5px;
  margin-left: 83%;
  margin-top: 6%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}





.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
:root{
  background-color: #FFF;
  background-size: cover;
}
.boxCriarEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 60%;
  border-radius: 20px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.boxCriarEvents form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxTitle{
  margin-top: 5%;
}
.picture {
  margin-top: 5%;
  width: 171px;
  height: 171px;
}
.iconEdit {
  width: 20px;
  height: 20px;
}
.boxCriarEvents div button {
  background-color: transparent;
  border: 0;
}
.boxTitle {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.boxDescription {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.boxTheme {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.boxLocation {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editUserName{
  display: flex;
}
.editUserName {
  margin-top: 2%;
}
.boxEditContact {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}
.editPhone p{
  position: relative;
  display: flex;
}
.buttonCriarButton {
  border-radius: 50px;
  border: 2px solid #000;
  background: #c4c4c4;
  padding: 5px;
  margin-left: 83%;
  margin-top: 6%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSave img {
  width: 84px;
  height: 24px;
}
input[id="file-upload"] {
  display: none;
}
.divUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  border-radius: 999px;
  background-color: #f5f5f5;
  text-align: center;
  width: 200px;
  height: 200px;
}
.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
}
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newpicture {
  width: 80px;
  height: 65px;
}

@media (min-width: 360px) and (max-width: 413px){
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  :root{
    background-color: #FFF;
    background-size: cover;
  }
  .boxCriarEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    width: 70vw;
    border-radius: 20px;
    border: 1px solid #000;
    background: #d9d9d9;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .divUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent;
    border-radius: 999px;
    background-color: #f5f5f5;
    text-align: center;
    width: 120px;
    height: 120px;
  }
  .boxImage{
    margin-top: 4vh;
  }
  #editInformations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .editName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }
  .editName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editName p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .editUserName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .editUserName p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .editUserName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .boxEditContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }
  .editPhone{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .editPhone input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editPhone p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .editEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .editEmail input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editEmail p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .boxCriarEvents button{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 2px;
  }
}
@media (min-width: 601px) and (max-width: 1279px){
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  :root{
    background-color: #FFF;
    background-size: cover;
  }
  .boxCriarEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    width: 70vw;
    border-radius: 20px;
    border: 1px solid #000;
    background: #d9d9d9;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .boxImage{
    margin-top: 4vh;
  }
  #editInformations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .editName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }
  .editName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editName p{
    position: relative;
    display: flex;
  }
  .editUserName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .editUserName p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .editUserName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .boxEditContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }
  .editPhone{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .editPhone input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editPhone p{
    position: relative;
    display: flex;
    text-align: center;
  }
  .editEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .editEmail input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editEmail p{
    position: relative;
    display: flex;
  }
  .boxCriarEvents button{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 2px;
  }
}
@media (min-width: 1280px) and (max-width: 1919px){
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  :root{
    background-color: #FFF;
    background-size: cover;
  }
  .boxCriarEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 70vw;
    border-radius: 20px;
    border: 1px solid #000;
    background: #d9d9d9;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .boxImage{
    margin-top: 4vh;
  }
  #editInformations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .editName{
    margin-top: 3vh;
  }
  .editUserName{
    margin-top: 0vh;
  }
  .editName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
    background-color: #f5f5f5;
  }
  .editName p{
    position: relative;
    display: flex;
  }
  .editUserName{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .editUserName p{
    position: relative;
    display: flex;
  }
  .editUserName input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .editPhone input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editPhone p{
    position: relative;
    display: flex;
  }
  .editEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .editEmail input{
    border-radius: 4px;
    border: none;
    padding: 2px;
  }
  .editEmail p{
    position: relative;
    display: flex;
  }
  .boxEditContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }
  .boxCriarEvents button{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 2px;
  }
}